*{
    text-decoration: none;
}
.navbar {
background: rgb(136, 146, 148);
font-family: 'Times New Roman', Times, serif;
padding-left: 15px;
padding-right: 15px;
}
.navdiv {
display: flex;
align-items: center;
justify-content: space-between;
}
.logo {
font-size: 35px;
font-weight: 600;
color: rgb(136, 146, 148);

}
li {
list-style: none;
display: inline-block;
}
li a {
color: rgb(0, 0, 0);
font-size: 20px;
font-weight: bold;
margin-right: 15px;
}
button {
background-color: rgb(136, 146, 148);
margin-left: 9px;
border-radius: 10px;
padding: 10px;
width: 90px;
}
button a {
color: rgb(251, 251, 252);
font-weight: bold;
font-weight: 15px;

}
body{
    background-color: rgb(136, 146, 148);
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    padding: 20px;
    background-image: url('bg.jpg');
    background-attachment: fixed;
    height: 90vh;
}
section{
    padding: 70px;
}
.info {
    margin-left: 7%;
    margin-right: 6%;
    justify-content: baseline;
}
.info h1{
    font-size: 65%;
    color:  rgb(36,32,30);
    font-size: x-large;
}
.info p{
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 24px;
    font-size: large;
}
.info span{
    color: rgb(136, 146, 148);
}
.image{
    width: 20%;
    height: 50%;
    position: absolute;
    right: 100px;
    bottom: 10%;
}
.image img{
    position: absolute;
    height: 130%;
    left: -85%;
    transform: translate(-55%);
    bottom: 0;
    border-radius: 50%;
    transition: left .2s ease;
}
.image:hover .cyrildave{
    left: 55%;
}
.icons a{
    text-decoration: none;
    color: #000000;
}
.icons ion-icon{
    margin-left: 7%;
    color: #000;
    margin-right: -60px;
    font-size: 40px;
    transition: .4s ease;

}
.icons ion-icon:hover{
    color: rgb(136, 146, 148);
}
a{
    color: #000000;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
